In [113]:
import numpy as np
import pandas as pd

In [114]:
df=pd.read_csv("Diabities.csv",engine='python')
df.head()

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [115]:
df.pop('Unnamed: 0')

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
764   NaN
765   NaN
766   NaN
767   NaN
768   NaN
Name: Unnamed: 0, Length: 769, dtype: float64

In [116]:
df=df.drop(768)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   blood pressure            768 non-null    float64
 3   skin thickness            768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    float64
dtypes: float64(9)
memory usage: 60.0 KB

In [118]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]
x

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0

In [119]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=24,random_state=0)

In [120]:
from sklearn.ensemble import RandomForestClassifier
RF_C=RandomForestClassifier(n_estimators=6,criterion='entropy',random_state=0)
RF_C.fit(x_train,y_train)
y_predict=RF_C.predict(x_test)
from sklearn.metrics import accuracy_score
a=accuracy_score(y_predict,y_test)*100
print("Accuracy",a)

Accuracy 79.16666666666666

In [126]:
from sklearn.linear_model import LogisticRegression
L_r=LogisticRegression(max_iter=1000)
L_r.fit(x_train,y_train)
l_predict=L_r.predict(x_test)
from sklearn.metrics import accuracy_score
b=accuracy_score(l_predict,y_test)*100
print("Logistic regression accuracy",b)

Logistic regression accuracy 95.83333333333334

In [127]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
k_predict=knn.predict(x_test)
from sklearn.metrics import accuracy_score
c=accuracy_score(k_predict,y_test)*100
print("KNN classifier accuracy",c)

KNN classifier accuracy 83.33333333333334